<!DOCTYPE html>
<html lang="en" ng-app="Taxi">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Taxi Billing</title>
        <meta name="description" content="Taxi Billing"/>
        <meta name="keywords" content="Taxi Billing"/>

        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="/templates/NFull/css/bootstrap.css" rel="stylesheet">

        <!--external css-->
        <link href="/templates/NFull/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="/templates/NFull/style/jquery.dataTables.css" rel="stylesheet"/>
        <link href="/templates/NFull/style/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/templates/NFull/style/bootstrap-multiselect.css" type="text/css">
        <link href="/templates/NFull/style/daterangepicker-bs2.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/templates/NFull/style/animate.css" rel="stylesheet">
        <link href="/templates/NFull/css/style.css" rel="stylesheet">
        <link href="/templates/NFull/css/style-responsive.css" rel="stylesheet">
        <link href="/templates/NFull/style/jquery.fancybox.css" rel="stylesheet">
        <link href="/templates/NFull/style/sanchos.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <section id="container">
            <!--header start-->
            <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>

                <!--logo start-->
                <a href="index.html" class="logo"><b translate="Главная"></b></a>
                <a href="#" class="logo"><b> &nbsp;&nbsp;<i class="fa fa-angle-right"></i> &nbsp; </b></a>
                <a href="/?do=drivers_2" class="logo razdel"><b translate="Водители"></b></a>
                <!--logo end-->

                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li style="  margin: 15px 0px 15px 15px;">
                            <select id="selectgroup" style="border:1px solid #666666; height: 28px;" class="form-control">
                                <option value="1" translate="Админ"></option>
                                <option value="2" disabled="" translate="Клиент"></option>
                                <option value="3" disabled="" translate="Водитель"></option>
                                <option value="4" translate="Кассир"></option>
                                <option value="5" disabled="disabled" translate="ТП"></option>
                            </select>
                        </li>
                        <li style="margin: 15px;">
                            <select class="form-control" ng-model="lang.use" style="border:1px solid #666666; height: 28px;">
                                <option ng-repeat="lang in lang.langs" value="{{lang.key}}">{{lang.lang}}</option>
                            </select>
                        </li>
                        <li class="lvsep" style="margin: 15px;"><a id="loginlink" href="#"><i translate="Привет, admin!"></i></a></li>
                    </ul>
                </div>
            </header>
            <!--header end-->

            <!--sidebar start-->
            <aside><div id="sidebar" class="nav-collapse sidebar"></div></aside>
            <!--main content start-->
            <section id="main-content" ui-view=""></section>
        </section>

        <script src="js/vendors.js"></script>
        <script src="js/reports.js"></script>
    </body>
</html>
