<section class="wrapper">
    <div class="row panel">
        <div class="col-md-12">
            <div class="-table_controls">
                <div class="pull-left" dropdown>
                    <button class="btn btn-default" dropdown-toggle><i class="fa fa-filter"></i></button>
                    <ul class="dropdown-menu"></ul>
                </div>

                <div ng-click="reload()" class="btn btn-default"><i class="fa fa-refresh"></i></div>
                <input style="height: 34px;float: left; margin-left: 5px; width:218px;" type="text" class="form-control">
            </div>
            <div class="clearfix"></div>
            <table id="reports-table" class="table table-bordere-d table-hover animated bounce" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>
        </div>
    </div>
</section>
