<div style="display: block; position: absolute; top: -15px; height: 120px; width: 100%; background-image: url('/templates/Full/images/bgnav.png'); background-color: #DD633E;">
    <h2 style="color: #fff;font-size: 20px;margin: 27px 0px 0px 59px;">{{'БИЛЛИНГ'|translate}}<br>{{'ТАКСИ'|translate}}</h2>
</div>

<ul class="sidebar-menu" style="margin-top: 110px;">
    <li class="sub-menu" ng-repeat="item in items">
        <a ng-class="{active: item.expanded}" ng-click="expand(item)" href="">
            <i class="fa fa-{{item.icon}}"></i>
            <span>{{item.title | translate}}</span>
            <span ng-show="item.expanded" class="dcjq-icon"></span>
            <span ng-show="!item.expanded" class="dcjq-icon"></span>
        </a>
        <ul class="sub" ng-style="{display: item.expanded ? 'block': 'none'}" ng-show="item.items.length">
            <li ng-repeat="_item in item.items">
                <a ui-sref="{{_item.sref}}" ng-if="_item.disabled !== true" ui-sref-active-eq="active">
                    <i ng-if="_item.icon" class="fa fa-{{_item.icon}}"></i>
                    {{_item.title | translate}}
                </a>
            </li>
        </ul>
    </li>
</ul>
